* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%; /* makes 1rem = 10px */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e2f; /* dark background */
  color: #e0e0e0; /* light gray text */
  line-height: 1.6;
}